body {
    overflow-x: hidden;
    background-color: black; /* Set default background color to black */
}

@font-face {
    font-family: 'ohno';
    src: url('Regular.otf') ;
}

@font-face {
    font-family: 'right';
    src: url('GT-Zirkon-Regular-Trial.otf');
}

.dialogue-container {
    display: flex;
    flex-direction: column;
}

.left-text {
    text-align: left;
    font-family: "ohno";
    color: rgb(106, 214, 99);
    z-index: 2;
    margin-top: 2vh;
    font-size: 2rem;
}

.right-text {
    text-align: right;
    font-family: "right";
    color: rgb(109, 149, 218);
    z-index: 2;
    margin-top: 2vh;
    font-size: 1.6rem;

}

.hoverable {
    transition: font-size 0.3s ease;
}

.hoverable:hover {
    font-size: 1.4em; /* Increase font size on hover */
}

.image-left,
.image-right {
    position: fixed;
    top: 50%;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
}

.image-left {
    left: 50%;
    transform: translateX(-50%);
}

.image-right {
    right: 50%;
    transform: translateX(50%);
}
